/* App.scss */

/* Estilos globales */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1550px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #333;
}

/* Estilos para el formulario de entrada de tareas */
.form-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo para limitar el ancho de los campos de entrada */
input[type="text"],
select,
.search-input {
  width: 100%;
  max-width: 400px; /* Ancho máximo ajustado */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.select-prioridad,
.select-categoria {
  width: 100%;
  max-width: 200px; /* Ancho máximo ajustado */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Estilos para la lista de tareas */
.task-list {
  list-style: none;
  padding: 0;
}

.task-item {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-actions {
  display: flex;
  gap: 10px;
}

/* Estilos para el campo de búsqueda */
.search-input {
  width: 100%;
  max-width: 400px; /* Ancho máximo ajustado */
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Estilos para los botones en la lista de tareas */
.edit-button {
  background-color: #17a2b8;
}

.edit-button:hover {
  background-color: #117a8b;
}

.delete-button {
  background-color: #dc3545;
}

.delete-button:hover {
  background-color: #bd2130;
}
